$des: #c6538c;

.customize-icon {
  display: inline-block;
  position: relative;
  // background: #2f54eb;
  border-radius: 3px;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  vertical-align: top;

  &:before {
    content: '';
    position: absolute;
    left: $des;
    right: $des;
    top: $des;
    bottom: $des;
    background: #fff;
    border-radius: 100%;
  }

  &.sub-icon {
    background: #ff4d4f;
  }

  &.selected-icon {
    background: green;
  }
}

.rc-tree .rc-tree-treenode {
  white-space: initial;

  .rc-tree-node-content-wrapper {
    display: inline;
    height: auto;
  }
}

.rc-tree-title {
  @media (max-width: 575px) {
    display: inline-grid;
  }
}
